@page "/"
<h3>Custom Input</h3>

<EditForm Model=FormData>
    <DataAnnotationsValidator />

    @*<CustomInput TValue="string"
                              ValueExpression="@(() => FormData.Name)"
                              MaxLength="6"
                              For="@(() => FormData.Name)"
                              Id="383ed040-fd99-41ec-8e86-1742044ff457"
                              FormGroupCssClass="wael"
                              Label="someLabel" >
        </CustomInput>*@

    <ReponsiveInputText placeholder="From Name"
                 FormGroupCssClass="col-3 space-sides"
                 MaxLength="50"
                 Id="FromName"
                 Label="From Name"
                 For="@(() => FormData.Name)"
                 @bind-Value="@FormData.Name" />


    <input type="submit" value="Submit" class="btn btn-primary" />

</EditForm>


@code {
    Person FormData = new Person();
}



